#welcome-message {
    display: block;
    margin: 2rem auto;       /* Block zentrieren */
    max-width: 400px;        /* optional: begrenzt Breite */
    text-align: left;        /* Text bleibt linksbündig */
    white-space: normal;
    line-height: 1.4;
  }
  
  .username-highlight {
    color: #325941;
    font-weight: bold;
  }