#welcome-message {
    display: block;
    max-width: 400px;        /* optional: begrenzt Breite */
    text-align: left;        /* Text bleibt linksbündig */
    white-space: normal;
    line-height: 1.4;
    padding-left: 2rem; /* optional: Abstand vom linken Rand */
  }
  
  .username-highlight {
    color: #325941;
    font-weight: bold;
  }
  
  .container {
    background-color: #325941;
      width: 80%;
      margin: 0 auto;
      padding: 20px;
    }
  